@import "common/media";
@import "common/normalize";

body {
  color: #fff;
  font-family: "Open Sans", "Arail", sans-serif;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

.display-hidden {
  display: none;
}

.container {
  max-width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.section__title {
  font-size: 38px;
  font-weight: 700;
  color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.section__paragraph {
  max-width: 523px;
  text-align: center;
  margin: 17px auto 60px;
  letter-spacing: 0.38px;
  line-height: 23px;
  font-size: 15px;
  font-weight: 300;
}

.section__line {
  width: 100px;
  margin-right: 30px;
  margin-left: 30px;
  height: 1px;
  background-color: #000000;
  opacity: 0.2;
}

@import "common/header";
@import "common/about";
@import "common/services";
@import "common/coach";
@import "common/banner";
@import "common/reviews";
@import "common/banner--news";
@import "common/map";
@import "common/footer";
@import "common/modal";