footer.footer
    .footer__wrapper.container
        div
            a.logo(href="#")
                span
                    span.logo__orange Pro
                    | Fitness
                span.logo__small Фитнес центр
            p.footer__paragraph Lorem ipsum dolor amet, constetur elit, eiusmod tempor incididunt labore dolore magna aliqua. Ut veniam, ullamco commodo consequat.
            .socials
                a.socials__link.socials__link--footer(href="#")
                    i.fab.fa-facebook-f
                a.socials__link.socials__link--footer(href="#")
                    i.fab.fa-vk
                a.socials__link.socials__link--footer(href="#")
                    i.fab.fa-instagram
                a.socials__link.socials__link--footer.socials__link--footer--youtube(href="#")
                    .socials__icon.socials__icon--youtube
        .pages
            .pages__title Страницы
            ul.pages__items
                li.pages__item
                    a(href="#").pages__link О нас
                li.pages__item
                    a(href="#").pages__link Услуги
                li.pages__item
                    a(href="#").pages__link Расписание
                li.pages__item
                    a(href="#").pages__link Цены
                li.pages__item
                    a(href="#").pages__link Команда
                li.pages__item
                    a(href="#").pages__link Контакты
                li.pages__item
        .contacts
            .contacts__title Контакты
            ul.contacts__items
                li.contacts__item
                    a(href="tel:+6494461709").contacts__link
                        img.contacts__link-icon(src="assets/img/phone.svg", alt="Phone icon")
                        |+38 050 32 45 555
                li.contacts__item
                    a(href="mailto:test@test.test").contacts__link
                        img.contacts__link-icon(src="assets/img/email.svg", alt="Email icon")
                        |mail@fitness.org
                li.contacts__item
                    a(href="#").contacts__link
                        img.contacts__link-icon(src="assets/img/marker.svg", alt="Marker icon")
                        |г. Киев, ул.Центр, дом. 1
        div.schedule
            .schedule__title График работы
            ul.schedule__items
                li.schedule__item Пн-Сб 9:00-22:00
                li.schedule__item Вс 10:00-22:00
    .footer__copyright © 2017 Все права защищены